/* GLOBALS */
:root {
  --bg: #ffffff;
  --sidebar-width: 400px;
  --topbar-height: 60px;
  --topbar-width: calc(100vw - var(--sidebar-width));
  --light-grey: #eeeeee;
  --dark-grey: #404040;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* SIDEBAR */
.sidebar {
  height: 100%;
  width: var(--sidebar-width);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #f2f2f2;
}

/* MODAL */
.modal-container {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal {
  position: relative;
  background-color: var(--bg);
  margin: 15% auto; /* 15% from the top and centered */
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  color: #aaa;
  background-color: var(--bg);
  border: none;
  font-size: 28px;
  font-weight: bold;
}
  
.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* FORM */
.form fieldset {
  width: 50%;
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
}

.form label{
  display: block;
  color: var(--dark-grey);
  margin-bottom: 5px;
}

.form input {
  padding: 12px 20px;
  margin: 8px 0;
}

.form input[type=text], input[type=number] {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.form input[type=date], input[type=time] {
  display: inline-block;
  width: 80%;
}

.form button {
  padding: 15px 25px;
  margin: 10px 0;
  margin-right: 15px;
  border-radius: 5px;
  color: var(--dark-grey);
  background-color: var(--light-grey);
  border: 1px solid var(--light-grey);
  transition-duration: 0.3s;
  opacity: 0.7;
}

.form button:hover {
  opacity: 1;
}

.form .submit-button {
  background-color: var(--dark-grey);
  color: white;
  border: 1px solid var(--dark-grey);
}

.form .alert {
  display: block;
  font-size: 10;
  color: rgb(212, 57, 57);
}


/* VIEWS */
.view {
  height: 100%;
  margin-left: var(--sidebar-width);
  margin-top: var(--topbar-height);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.list-view {
  height: inherit;
  padding: 10px 50px;
}

.objective-list-view {
  height: inherit;
  overflow-y: auto;
}

.objective-list-view table {
  border-collapse: collapse;
  width: 100%;
}

.objective-list-view table td, .objective-list-view table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.objective-list-view table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.objective-list-view table tr:hover {
  background-color: #ddd;
}

.objective-list-view table th, .objective-list-view tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--dark-grey);
  color: white;
}

/* TOPBAR */
.topbar {
  position: fixed;
  top: 0;
  right: 0;
  height: var(--topbar-height);
  width: var(--topbar-width);
  margin-left: var(--sidebar-width);
  background-color: var(--bg);
  padding: 0 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.topbar-nav {
  margin: 0;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.top-item {
  width: calc(var(--topbar-height) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  --button-size: calc(var(--topbar-height) * 0.7);
  width: var(--button-size);
  height: var(--button-size);
  border: none;
  border-radius: 30%;
  display: flex;
  padding: 5px;
  margin: 2px;
  align-items: center;
  justify-content: center;
}

/* ACTIVITIES */
.activity {
  width: 400px;
  margin: 15px;
  background-color: #6666ff;
  color: white;
  padding: 5px 25px ;
  border: 2px solid #6666ff;
  border-radius: 10px;
  transition: 0.15s;

}

.activity:hover {
  color: #6666ff;
  background-color: #e6e6ff;
  border: 2px solid #6666ff;
  cursor: pointer;
}
